id: mattermost
url: http://host.docker.internal:8080
as_token: oaMzNZbT718MLatfu91l9HNANxkdwXrEkWxRolWQA
hs_token: mfg9u7SnZ0UXqhjs0JkeYBIeULG8lTM7u4Z9byXayh8
sender_localpart: mattermostbot
namespaces:
  users:
    - exclusive: true
      regex: '@mattermost_.*'
  aliases:
    - exclusive: true
      regex: '#mattermost_.*'
  rooms: []
rate_limited: false
